@import '~@angular/material/theming';

:host {
  display: block;
  padding: 0 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

.shows-scroller {
  display: flex;
  width: 100%;
  overflow: auto;
  padding: 0.5rem 0;
  scroll-snap-type: x mandatory;
}

.shows-scroller__item {
  width: 230px;
  scroll-snap-align: start;
}

h1 {
  span {
    text-transform: capitalize;
  }
}

.error {
  color: mat-color(mat-palette($mat-red));
  background: white;
  padding: 1rem;
  margin-bottom: 1rem,
}
