@import '~@angular/material/theming';

:host {
  display: block;
  height: 4rem;
}

div {
  height: 4rem;
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
}

a {
  color: white;
  padding: 0 0.5rem;

  mat-icon {
    padding: 0;

    &.mat-icon-home {
      margin-top: 3px;
    }

    &.mat-icon-search {
      margin-top: 5px;
    }
  };

  &.active {
    color: mat-color(mat-palette($mat-orange));
  }
}

mat-icon {
  padding: 0 0.5rem;
  cursor: pointer;
}

div {
  width: 100%;
  padding: 1rem;
  position: fixed;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #333;
  box-shadow: 0 1px 2px 0 #000;
  top: 0;
  z-index: 2;
  left: 0;
}

h4 {
  color: mat-color(mat-palette($mat-orange));
  margin: 0;
}
